<%= form_with url: "/flights", method: :get, class: "search-form" do |form| %>
  <div class="search-grid">

    <%= form.collection_select :departure_id,
                      airports,
                      :id,
                      :code,
                      include_blank: 'departure airport',
                      selected: params[:departure_id] %>

    <%= form.collection_select :arrival_id,
                      airports,
                      :id,
                      :code,
                      include_blank: 'destination airport',
                      selected: params[:arrival_id] %>

    <%= form.date_field :departure_time,
                      value: params[:departure_time],
                      placeholder: "dd/mm/yyyy" %>

    <%# form.collection_select :number_of_tickets,
                      (1..4),
                      :to_i,
                      :to_i,
                      include_blank: 'tickets',
                      selected: params[:number_of_tickets] %>

    <%= form.submit "Search", class: "btn btn-secondary" %>

  </div>
<% end %>
