<h1>Flights</h1>

<%= paginate @flights %>
<br>
<%= render 'search_flights_form', airports: @airports, dates: @dates %>
<% if @flights.any? %>
  <%= form_with url: '/bookings/new', method: :get do |form| %>
    <!--<input hidden name="number_of_tickets" value="<%= params[:number_of_tickets] %>">-->
    <% @flights.each do |flight| %>
      <div class="mb-3">
        <div class="radio-toolbar">
          <%= form.radio_button 'flight_id', flight.id %>
          <%= form.label "flight_id_#{flight.id}" do %>
            <%= render 'flight_information', flight: flight %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= form.submit "Book flight", class: "btn btn-primary btn-lg" %>
  <% end %>
<% else %>
  <p>No flights match the search parameters.</p>
<% end %>

<br>
<%= paginate @flights %>
<br>
