<h1>Flights</h1>

<%= render 'search_flights_form', airports: @airports, dates: @dates %>

<%= form_with url: '/bookings/new', method: :get do |form| %>
  <input hidden name="number_of_tickets" value="<%= params[:number_of_tickets] %>">
  <% @flights.each do |flight| %>
    <%= form.radio_button 'flight_id', flight.id, disabled: invalid_ticket_amount?(params[:number_of_tickets]) %>
    <%= form.label "flight_id_#{flight.id}" do %>

      <%= render 'flight_information', flight: flight %>

    <% end %>
  <% end %>
  <%= form.submit "Book flight" %>
<% end %>
