<% @flight ||= Flight.find(params[:flight_id]) %>

<% if @booking.errors.any? %>
  <h3>The following errors prevented the booking from being confirmed:</h3>
  <ul>
    <% @booking.errors.full_messages.each do |msg| %>
     <li><%= msg %></li> 
    <% end %>
  </ul>
<% end %>
<h1>Book flight</h1>

<h3>Flight information</h3>
<div>Departure airport: <%= @flight.departure_airport.code %></div>
<div>Destination airport: <%= @flight.arrival_airport.code %></div>
<div>Departure time: <%= date_readable(@flight.departure_time) %></div>
<div>Flight duration: <%= to_hours_minutes(@flight.flight_duration_minutes) %></div>
<br>

<p><strong>Passenger amount: <%= @passenger_amount %></strong></p>

<%= form_with model: @booking do |form| %>
  <input hidden name="booking[flight_id]" value="<%= @flight.id %>">

  <%= form.fields_for :passengers do |sub_form| %>
    <div><strong><%= "Passenger information:" %></strong></div>
    <div>
      <%= sub_form.label :name, 'Name' %>
      <%= sub_form.text_field :name %>
    </div>
    <div>
      <%= sub_form.label :email, "Email" %>
      <%= sub_form.text_field :email %>
    </div>
    <br>
  <% end %>

  <%= form.submit %>
<% end %>
