<% @flight ||= Flight.find(params[:flight_id]) %>

<% if @booking.errors.any? %>
  <h3>The following errors prevented the booking from being confirmed:</h3>
  <ul>
    <% @booking.errors.full_messages.each do |msg| %>
     <li><%= msg %></li> 
    <% end %>
  </ul>
<% end %>

<h1>Book flight</h1>

<h3>Flight information</h3>
<%= render 'flights/flight_information', flight: @flight %>

<div data-controller="passenger">
  <p><strong>Passenger amount: <%= @passenger_amount %></strong></p>
  <button data-action="passenger#addPassenger">Add Passenger</button>
  <%= form_with model: @booking do |form| %>
    <input hidden name="booking[flight_id]" value="<%= @flight.id %>">
    
    
    <%= form.fields_for :passengers do |sub_form| %>
      <div class="passengers">
        <div><strong><%= "Passenger information:" %></strong></div>
        <div class="input-row">
          <%= sub_form.label :name, 'Name' %>
          <%= sub_form.text_field :name %>
        </div>
        <div class="input-row">
          <%= sub_form.label :email, "Email" %>
          <%= sub_form.text_field :email %>
        </div>
      </div>
      
      <template id="passenger-info" data-target='passenger.template'>
        <div><strong><%= "Passenger information:" %></strong></div>
        <div class="input-row">
          <%= sub_form.label :name, 'Name' %>
          <%= sub_form.text_field :name %>
        </div>
        <div class="input-row">
          <%= sub_form.label :email, "Email" %>
          <%= sub_form.text_field :email %>
        </div>
      </template>
    <% end %>


    <%= form.submit "Book flight", class: "btn btn-secondary btn-sm" %>
  <% end %>
</div>

<%= link_to 'Back to flights', root_path %>
